{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

<h1> About Us</h1> <br/><a href="/Gyobera/">Home</a>
<p> Gyobera is a Luganda term meaning "where you reside". it was used as a name of this application which serves to ease
university students get hostels to stay in when they are on-semester. it's a user friendly web based application
with designed functions for everybody to use.</p>
<p> Our home page displays the top six hostel classification and the top six viewed hostels, this is to help users know
which categories and hostels have been liked and viewed most.</p>
<p> With us, you can book a hostel, you can have a look at the pictures of the hostels with there details of prices and
arrangements, you can also see the bookings that have already been made, you can access a contact us form but majority
of these can be operational if only you are a registered user. </p>
<p>Register with us a user in case you haven't and let us ease your process of acquiring a hostel.</p>
<p>Contacts: Businge Scott, busingescott@gmail.com, 0772763982</p>


{% endblock %}