{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <h1><strong>Students Registry </strong></h1><a href="/Gyobera/">Home</a><br/>
          {% if students %}
            <ul>
                {% for student in students %}
                 <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="{{ student_list}}">{{ student }}</a></li><br/>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no registered students.</strong>
        {% endif %}
{% endblock %}